@model IEnumerable<MediManager_WebApp.Models.QuantityUnit>

@{
    ViewData["Title"] = "Mengeneinheiten";
}

<div class="container-fluid">
    <h1>Mengeneinheiten</h1>

    <p>
        <a asp-action="Create" class="btn btn-primary">Neue Mengeneinheit</a>
    </p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Name)</th>
                <th>@Html.DisplayNameFor(model => model.Description)</th>
                <th>Aktionen</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.Description)</td>
                    <td>
                        <div class="btn-group" role="group">
                            <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-warning">Bearbeiten</a>
                            <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger">Löschen</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>